<div class="bgcolor">
    <!-- heading tag -->
    <h1 id="headertext">My Goals</h1>
    <div class="card stytab border">
        <div class="card-body stycard">
            <mat-tab-group style="min-width: 60px;" animationDuration="0ms">
                <mat-tab label="Personal Details">
                    <div class="mt-3">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border pr-5">Personal Info</legend>

                        <div >
                            
                        <table class="w-100 mb-3">
                            <tr>
                                <td class="personal-details-td pt-2 pb-2">First Name:</td>
                                <td class="personal-details-td pt-2 pb-2">Last Name:</td>
                            </tr>
                            <tr>
                                <td class="personal-details-td pt-2 pb-2"><b>Sujit</b></td>
                                <td class="personal-details-td pt-2 pb-2"><b>Chander</b></td>
                            </tr>
                            <tr>
                                <td class="personal-details-td pt-2 pb-2">Email</td>
                                <td class="personal-details-td pt-2 pb-2"> Mobile No</td>
                            </tr>
                            <tr>
                                <td class="personal-details-td pt-2 pb-2"><b>Sujit.Chander@walkingtree.tech</b></td>
                                <td class="personal-details-td pt-2 pb-2"><b>+91 735 837 8383</b></td>
                            </tr>
                        </table>
                        <button mat-flat-button class="updategoalbtn">Edit Personal Details</button>
                        
                        </div>
                    </fieldset>


                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border pr-5">Organizational Info</legend>

                        <div >
                            
                        <table class="w-100 mb-3">
                            <tr>
                                <td class="personal-details-td pt-2">Role</td>
                                <td class="personal-details-td pt-2">Reporting Managere</td>
                                <td class="personal-details-td pt-2">My CTC</td>
                            </tr>
                            <tr>
                                <td class="personal-details-td pb-2"><b>Business Development Manager</b></td>
                                <td class="personal-details-td pb-2"><b>Alok Ranjan</b></td>
                                <td class="personal-details-td pb-2"><b>$50,000</b></td>
                            </tr>
                            <tr>
                                <td class="personal-details-td pt-2 ">Number of customers</td>
                                <td class="personal-details-td pt-2 "> Customers Acquired</td>
                                <td class="personal-details-td pt-2 ">Team CTC</td>
                            </tr>
                            <tr>
                                <td class="personal-details-td  pb-2"><b>8</b></td>
                                <td class="personal-details-td  pb-2"><b>2</b></td>
                                <td class="personal-details-td  pb-2"><b>$100,000</b></td>
                            </tr>
                            <tr>
                                <td class="personal-details-td pt-2 ">Sales Goal (Current FY)</td>
                                <td class="personal-details-td pt-2 ">Achievement (YTD)</td>
                                <td class="personal-details-td pt-2 ">Other Sales Budget</td>
                            </tr>
                            <tr>
                                <td class="personal-details-td  pb-2"><b>$2000,000</b></td>
                                <td class="personal-details-td  pb-2"><b>$200,000</b></td>
                                <td class="personal-details-td  pb-2"><b>$30,000</b></td>
                            </tr>
                        </table>
                       
                        
                        </div>
                    </fieldset>

                    
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border pr-5">Security</legend>

                        <div >
                            
                        <table class="w-100 mb-3">
                            <tr>
                                <td class="personal-details-td pt-2">User ID</td>
                                <td class="personal-details-td pt-2">Last Login On</td>
                                <td class="personal-details-td pt-2">Login From Device</td>
                            </tr>
                            <tr>
                                <td class="personal-details-td pb-2"><b>sujit.chander@walkingtree.in</b></td>
                                <td class="personal-details-td pb-2"><b>12/05/2020 at 5:25 PM</b></td>
                                <td class="personal-details-td pb-2"><b>MacBook Pro</b></td>
                            </tr>
                           
                        </table>
                       
                        
                        </div>
                    </fieldset>

                </div>
                </mat-tab>
                <mat-tab label="My Goals">
                    <div class="tblmargin">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <ng-container matColumnDef="name">
                                <th class="tablehead pl-2" mat-header-cell *matHeaderCellDef> Key Parameters </th>
                                <td class=" pl-2" mat-cell *matCellDef="let element">{{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="designation">
                                <th class="tablehead" mat-header-cell *matHeaderCellDef> Expected (this year) </th>
                                <td class="tdpadding" mat-cell *matCellDef="let element"> {{element.designation}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th class="tablehead" mat-header-cell *matHeaderCellDef> Expected (YTD) </th>
                                <td class="tdpadding" mat-cell *matCellDef="let element">{{element.email}}</td>
                            </ng-container>

                            <ng-container matColumnDef="phone">
                                <th class="tablehead" mat-header-cell *matHeaderCellDef>Achieved (YTD) </th>
                                <td class="tdpadding" mat-cell *matCellDef="let element"> {{element.phone}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Team Goals">
                    <div class="tblmargin">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Sujit Chander</legend>

                            <div class="d-flex justify-content-around">

                                <div class="col-lg-9 p-0">

                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                        <ng-container matColumnDef="name">
                                            <th class="tablehead pl-2" mat-header-cell *matHeaderCellDef> Key Parameters
                                            </th>
                                            <td class=" pl-2" mat-cell *matCellDef="let element">{{element.name}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="designation">
                                            <th class="tablehead" mat-header-cell *matHeaderCellDef> Expected (this
                                                year)
                                            </th>
                                            <td class="tdpadding" mat-cell *matCellDef="let element">
                                                {{element.designation}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="email">
                                            <th class="tablehead" mat-header-cell *matHeaderCellDef> Expected (YTD)
                                            </th>
                                            <td class="tdpadding" mat-cell *matCellDef="let element">{{element.email}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="phone">
                                            <th class="tablehead" mat-header-cell *matHeaderCellDef>Achieved (YTD) </th>
                                            <td class="tdpadding" mat-cell *matCellDef="let element"> {{element.phone}}
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>

                                
                            <div class="col-lg-3 p-0 my-auto"  >
                                <div class="btn-mar-left">                                 
                                <button mat-flat-button (click)="openDialog()" class="updategoalbtn">Update Goals</button>
                                
                                <button mat-flat-button class="createtaskbtn  mt-3">Create Tasks</button>
                            </div>

                            </div>
                            </div>
                        </fieldset>
                    </div>


                    <div class="tblmargin">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Jayesh P.</legend>
                            <div class="d-flex justify-content-around">

                                <div class="col-lg-9 p-0">

                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                        <ng-container matColumnDef="name">
                                            <th class="tablehead pl-2" mat-header-cell *matHeaderCellDef> Key Parameters
                                            </th>
                                            <td class=" pl-2" mat-cell *matCellDef="let element">{{element.name}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="designation">
                                            <th class="tablehead" mat-header-cell *matHeaderCellDef> Expected (this
                                                year)
                                            </th>
                                            <td class="tdpadding" mat-cell *matCellDef="let element">
                                                {{element.designation}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="email">
                                            <th class="tablehead" mat-header-cell *matHeaderCellDef> Expected (YTD)
                                            </th>
                                            <td class="tdpadding" mat-cell *matCellDef="let element">{{element.email}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="phone">
                                            <th class="tablehead" mat-header-cell *matHeaderCellDef>Achieved (YTD) </th>
                                            <td class="tdpadding" mat-cell *matCellDef="let element"> {{element.phone}}
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>

                                <div class="col-lg-3 p-0 my-auto">
                                    <div class="btn-mar-left">
                                        <button mat-flat-button class="updategoalbtn">Update Goals</button>
                                        <br>
                                        <button mat-flat-button class="createtaskbtn  mt-3">Create Tasks</button>
                                    </div>
                                </div>


                            </div>
                        </fieldset>
                    </div>
                </mat-tab>
                <mat-tab label="Activity Feeds">
                    <div class="mt-3">
                        <fieldset id="activity-field-one">
                            <legend id="activity-legend-one" class="d-flex p-0">
                                <span class="text-activity-name my-auto">Sujit Chander</span>
                                <hr class="ml-0 mr-0" width="75px" color="black">
                                <span class="text-activity-email my-auto">Sent Email</span>
                                <hr class="ml-0 mr-0" width="170px" color="black">
                                <span class="text-activity-time my-auto">On 12/05/2020 at 5:25 PM</span>
                                <hr class="ml-0 mr-0" width="75px" color="black">
                                <span class="text-activity-to my-auto">to(Contact Name)</span>
                            </legend>
                            Secrevit fontes liquidum locoque pronaque?
                            <br>
                            <br>
                            Illas semine campoque declivia oppida corpora nam inter fuit discordia tellus solidumque
                            iunctarum erat: quae terrenae ubi
                            <br>
                            rerum recessit iudicis aestu fixo
                        </fieldset>

                        <fieldset id="activity-field-two">
                            <legend id="activity-legend-two" class="d-flex p-0">
                                <span class="text-activity-name my-auto">Jayesh P.</span>
                                <hr class="ml-0 mr-0" width="75px" color="black">
                                <span class="text-activity-email my-auto">Called</span>
                                <hr class="ml-0 mr-0" width="170px" color="black">
                                <span class="text-activity-time my-auto">On 12/05/2020 at 5:25 PM</span>
                                <hr class="ml-0 mr-0" width="75px" color="black">
                                <span class="text-activity-to my-auto">to(Contact Name)</span>
                            </legend>
                            Secrevit fontes liquidum locoque pronaque?
                            <br>
                            <br>
                            Illas semine campoque declivia oppida corpora nam inter fuit discordia tellus solidumque
                            iunctarum erat: quae terrenae ubi
                            <br>
                            rerum recessit iudicis aestu fixo
                        </fieldset>


                        <fieldset id="activity-field-three">
                            <legend id="activity-legend-three" class="d-flex p-0">
                                <span class="text-activity-name my-auto">Rahul M.</span>
                                <hr class="ml-0 mr-0" width="75px" color="black">
                                <span class="text-activity-email my-auto">Sent LinkedIn Message</span>
                                <hr class="ml-0 mr-0" width="170px" color="black">
                                <span class="text-activity-time my-auto">On 12/05/2020 at 5:25 PM</span>
                                <hr class="ml-0 mr-0" width="75px" color="black">
                                <span class="text-activity-to my-auto">to(Contact Name)</span>
                            </legend>
                            Secrevit fontes liquidum locoque pronaque?
                            <br>
                            <br>
                            Illas semine campoque declivia oppida corpora nam inter fuit discordia tellus solidumque
                            iunctarum erat: quae terrenae ubi
                            <br>
                            rerum recessit iudicis aestu fixo
                        </fieldset>
                    </div>
                </mat-tab>
                <mat-tab label="Open Tasks">
                    <div class="tblmargin">
                        <table mat-table [dataSource]="dataSources" class="mat-elevation-z8">

                            <ng-container matColumnDef="taskname">
                                <th class="tablehead pl-2" mat-header-cell *matHeaderCellDef>Task Name</th>
                                <td class=" pl-2" mat-cell *matCellDef="let element">{{element.taskname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="assignedto">
                                <th class="tablehead" mat-header-cell *matHeaderCellDef>Assigned To</th>
                                <td class="tdpadding" mat-cell *matCellDef="let element"> {{element.assignedto}} </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th class="tablehead" mat-header-cell *matHeaderCellDef>Description</th>
                                <td class="tdpadding" mat-cell *matCellDef="let element">{{element.description}}</td>
                            </ng-container>

                            <ng-container matColumnDef="duedate">
                                <th class="tablehead" mat-header-cell *matHeaderCellDef>Due Date</th>
                                <td class="tdpadding" mat-cell *matCellDef="let element"> {{element.duedate}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
                        </table>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>