.bgcolor{
    background-color: #EFF4F580;
    height: 100%;
}
.dotcontact{
  margin: 6px 0px 0px 15px;
  background-color: #FFFFFF;
  border-radius:50px;
  padding: 5px 5px 0px 10px;
}
.dot {
    margin: 3px 0px 0px 15px;
    border: 1px solid #707070;
    background-color: transparent;
    color:#707070;
    border-radius:50%;
    padding: 0px 6px 0px 6px;
  }
  .edit-icon{
    margin: 6px 0px 0px 15px;
    background-color: #FFFFFF;
    color:#A0A0A0;
    border-radius:50px;
    padding: 5px 5px 0px 10px;
  }
  .delete-icon{
    margin: 6px 0px 0px 15px;
    background-color: #FFFFFF;
    color:#A0A0A0;
    border-radius:50px;
    padding: 5px 10px 0px 10px;
  }
  .dotc {
    padding: 0px;
    color:#FFFFFF;
    border-radius: 50%;
    
  }
  .btnright{
      text-align: right;
      padding-top: 30px;
      padding-left: 45px;
      width:100%;
  }
.color{
    background-color: white;
    margin-left: 50px;
    display: inline;
}
.col{
    width: 50%;
}
.table{
    height: 50%;
    width: 100%;
}
tr,td{
    width: 0px;
}
.tablehead{
    top: 1047px;
    left: 109px;
    width: 534px;
    height: 40px;
    background: #BBE6EF80 0% 0% no-repeat padding-box;
    opacity: 1;
}
.tablerow{
  top: 1047px;
  left: 109px;
  width: 534px;
  height: 40px;
}
.tblpadding{
  padding-right: 260px;
}
.tblcolor{
  color: #178DDC;
}
  .app{
      color:#393939;
    }
    .aa{
        background:#F0A369;
    }
    .row{
        display: inline-flex;
    }
.c{
    size: 100px;
}
.imgrht{
    padding-left: 315px;
}
.imgriht{
  padding-left: 335px;
}
.dotrht{
    height: 25px;
    width: 25px;
    background-color:#EFF4F580;
    border-radius: 50%;
    display: inline-block;
}
.opentask{
  padding: 20px 0px 0px 15px;
  font: Regular 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #A0A0A0;
  opacity: 1;
}
.ckeckbox{
  color:#707070;
  padding: 20px 0px 0px 380px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #FFFFFF;
  }
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: lightgray;
  }
  ::ng-deep .mat-checkbox-checkmark-path {
    stroke: blue !important;
  }
  ::ng-deep .mat-checkbox-1-input{
    border-color: #707070;
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background .box {
    background-color: #FFFFFF;
   border:1px solid lightgray;
  }
.align{
    padding: 10px 0px 0px 17px;
    color: #000000;
}

.aligndown{
padding: 0px 0px 0px 18px;
color: #A0A0A0;
}
.aligndn{
    padding: 0px 0px 0px 15px;
    color: #000000;
}
.tbltxt{
    padding-left: 13px;
}

  .tblsize{
      width:50%;
      padding-left: 13px;
  }
.tbls{
    width:80%;
    padding-left: 25px;
}
table
{
    width: 95%;
}
table > tr
{
    border-bottom: 1px solid #939393;
}
.tbltxt
{
    color: #939393;
}
.align{
    padding-top: 10px;
}
.suspect-icon{
    color: #9085D4;
}
.prospect-icon{
   color: #D485CC;
   margin-top: 14px;
}
.lead-icon{
color: #85D49A;
margin-top: 10px;
}
.customer-icon{
color: #D48592;
margin-top: 10px;
}
.stycard{
    margin-top: 5px;
    height:100px
}
.btnconvert{
    background-color: #FFFFFF;color:#707070;
    border-radius: 40px;padding: 10px 70px 10px 30px;
}
.btnsend{
    background-color: #FFFFFF;color:#707070;
    border-radius: 40px;padding: 8px 50px 8px 50px;
}
.btnadd{
    background-color: #FFFFFF;color:#707070;
    border-radius: 40px;padding: 8px 50px 8px 50px;
}
.contact{
    width:33rem; background-color: #FFFFFF; margin-left: 15px; 
    opacity: 1;
}
.btncontact{
    border:1px solid #EAEA40;background-color: #EAEA40;color: #393939;
            border-radius: 25px;padding: 3px 7px 3px 7px;
}
.lbl{
    color:#939393;padding-left: 8px;
}
.txtowner{
    border: none;outline: 0;margin-left: 50px;
}
.txtemail{
    border: none;outline: 0;margin-left: 110px;
}
.txtphone{
    border: none;outline: 0; margin-left: 102px;
}
.txtfirst{
    border: none;outline: 0; margin-left: 72px;
}
.txtlast{
    border: none;outline: 0; margin-left: 77px;
}
.txtlink{
    border: none;outline: 0; margin-left: 61px;
}
.txtorg{
    border: none;outline: 0; margin-left: 62px;
}
.rounda {
    position: relative;
  }
  .rounda label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    /* top: 10; */
    width: 28px;
  }
  .rounda label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  .rounda input[type="checkbox"] {
    visibility: hidden;
  }
  .rounda input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  .rounda input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .roundb {
    position: relative;
  }
  .roundb label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    width: 28px;
  }
  
  .roundb label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  .roundb input[type="checkbox"] {
    visibility: hidden;
  }
  
  .roundb input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .roundb input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }


  .roundc {
    position: relative;
  }

  .roundc label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    /* top: 10; */
    width: 28px;
  }
  .roundc label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  .roundc input[type="checkbox"] {
    visibility: hidden;
  }
  .roundc input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  .roundc input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .roundd {
    position: relative;
  }
  .roundd label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    /* top: 10; */
    width: 28px;
  }
  .roundd label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  .roundd input[type="checkbox"] {
    visibility: hidden;
  }
  .roundd input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  .roundd input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .rounde {
    position: relative;
  }
  .rounde label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    /* top: 10; */
    width: 28px;
  }
  .rounde label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  .rounde input[type="checkbox"] {
    visibility: hidden;
  }
  .rounde input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  .rounde input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
.rounde input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
#left-arrow{
    border: 1px solid grey
   ; border-radius: 50%;
} 
.contactmargin{
  margin-left:10px;
}
.stycompany{
  width: 33rem;
  background-color: #FFFFFF;
  margin-left: 15px;
  border: 0.25px solid #707070;
  opacity: 1;
}
.btncompany{
  border:1px solid #40D3EA;
  background-color: #40D3EA;
  color: #393939;
  border-radius: 40px;
  padding: 3px 7px 3px 7px;
}
.lblstyle{
  color:#939393;
  padding-left: 8px;
}
.bordercompany{
  border: none;
  outline: 0;
  margin-left: 40px;
}
.borderindustry{
  border: none;
  outline: 0;
  margin-left: 92px;
}
.borderpeople{
  border: none;
  outline: 0;
  margin-left: 59px;
}
.borderrevenue{
  border: none;outline: 0;
  margin-left: 65px;
}
.styother{
  width: 33rem;
 background-color: #FFFFFF;
 margin-left: 15px;
 border: 0.25px solid #707070;
 opacity: 1;
}
.btnother{
  border:1px solid #F0A369;
  background-color: #F0A369;
  color: #393939;
  border-radius: 40px;
  padding: 3px 7px 3px 7px;
}
.tab{
  margin-left: 15px;
}
.stytab{
  width: 43rem;
  height: 900px;
  background-color: #FFFFFF;
  margin-left: 0px;
  border: 0.25px solid #707070;
  opacity: 1;
}
.btnimg{
  margin-left: 30%;
}
.stycardbody{
  background-color: #E349C4;
  width: 58px;
  height: 39px;
  padding-top: 3px;
}
.imgcalender{
  margin: 3px 0px 0px 4px;
  width: 25px;
  height: 25px;
}
.stycardbody1{
  background-color: #7853B7;
  width: 58px;height: 39px;
  padding-top: 3px;
}
.stycardbody2{
  background-color: #D87121;
  width: 58px;height: 39px;
  padding-top: 3px;
}
.stysub{
  width:80%;
}
.stymail{
  height:100% ;width:80%;
}
.btnsendmargin{
  margin-left: 250px;
}
.btnemail{
  background-color: #F5F5F5;
  color: #707070;
  border-radius: 40px;
  padding: 3px 25px 3px 24px;
}
.btnsendemail{
  background-color: #F5F5F5;
  color: #707070;
  border-radius: 40px;
  padding: 3px 10px 3px 7px;
}
::ng-deep .mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color:#178DDC;
}
.arrow{
  font-size:20px; padding-top:2px;padding-right: 2px;
}
.edit{
  font-size:17px;
  color: #A0A0A0;
}
.delete{
  font-size:18px;
  color: #A0A0A0;
}
::ng-deep #mat-select-0-panel{
margin-top: 48px;
position: fixed;
left:-60px;
padding-right:25px ;
}
.tblwd{
  width:100%;
}
::ng-deep .mat-select-value ng-tns-c234-1-value {
padding: 0px;
margin: 0px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #1BB63F;
}

.txt-sm
{
  color: #A0A0A0;
}
::ng-deep .mat-tab-label-content
{
  font-size: 1.5rem !important;
}
table > tr
{
    border-bottom: 1px solid rgba(61, 102, 153, 0.15) ; 
}
.tbltxt
{
    color: #939393;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1rem;
}
.mat-dialog-container {
  padding: 0px !important;
  width: 1000px !important;
  

}