<mat-toolbar id="headbg">
  <mat-toolbar-row class="toolbarRow">
    <button class="menuBtn" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="d-flex mr-3" id="user-mar">
      <!-- <img src="assets/img/mail.png" class="mt-2" id="mail-icon"/>  -->
      <mat-icon class="mt-1" id="mail-icon" style="color: #707070;">drafts</mat-icon>
      <div class="d-flex mb-0">
        <h3 id="user-text">Hello, Shewta Shankar</h3>
        <!-- <img src="assets/img/down-arrow.png" id="down-arrow-icon" class="ml-2"  /> -->
        <mat-icon class="" id="down-arrow-icon" style="color: #707070;">arrow_drop_down</mat-icon>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar> 
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" id="sidebg" opened role="navigation">
    <mat-nav-list>
      <br />
      <a mat-list-item><img src="assets/img/home.png"/></a>
      <br />
      <a mat-list-item routerLink='/contacts'><img src="assets/img/contact.png" /></a>
      <br />
      <a mat-list-item routerLink='/sales'><i class="fa fa-line-chart pl-1"
          style="font-size: 20px;color: #707070;" aria-hidden="true"></i></a>
      <!-- <a mat-list-item ><img src="assets/img/tick (1).png"/></a> -->
      <br />
      <a mat-list-item><img src="assets/img/pie.png" /></a>
      <br />
      <a mat-list-item><img src="assets/img/contact (1).png" /></a>
      <br />
      <a mat-list-item><img src="assets/img/work.png" /></a>
      <br />
      <a mat-list-item><img src="assets/img/flag.png" /></a>
      <br />
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>