<div class="bgcolor">
    <h1 class="head">Create New Tasks</h1>
    <form [formGroup]="taskControl" (ngSubmit)="saveTask()">
        <div class="d-flex">
            <div class="col-lg-6 ml-3">
                <mat-label class="clr">Name :</mat-label>
                <br />
                <mat-form-field appearance="outline" class="boxsize">
                    <input matInput type="text" id="txtsearchcriteria" formControlName="name" />
                </mat-form-field>
            </div>

            <div class="col-lg-6 ml-3">
                <mat-label class="clr">Due Date :</mat-label>
                <br />
                <mat-form-field appearance="outline" class="widthtenrem">
                    <input matInput [matDatepicker]="picker" formControlName="dueDate" class="color" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker" class="color"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
        </div>

        <div class="floatright" style="width: 95%;">
            <label class="clr">Description :</label>
            <ejs-richtexteditor height='240px' [toolbarSettings]='tools' formControlName="description"></ejs-richtexteditor><br>
        </div>
        
        <div class="d-flex">
            <div class="col-lg-6 ml-3">
                <mat-label class="clr">Feed Type :</mat-label>
                <br />
                <mat-form-field appearance="outline" class="widthtenrem">
                    <mat-select formControlName="feedTypeData">
                        <mat-option *ngFor="let feedType of getFeedType" value="feedType.lm_action_types_id"
                            (click)="Onchangestatus(feedType.lm_action_types_id)">{{feedType.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="btncenter">
            <button class="btncancel border" mat-stroked-button>Cancel</button>&nbsp;&nbsp;&nbsp;
            <button class="btnsave border" mat-stroked-button>Save</button>
        </div>
    </form>
</div>